.loginpage-border {
  width: 430px;
}
.loginpage-container {
  width: 430px;
}
.loginpage-inputs {
  padding-left: 20px;
  padding-right: 20px;
}
.loginpage-forgot-password:hover {
  color: #0bc5ea;
  cursor: pointer;
}
